.block {
  background: transparent;
  user-select: none;
}

.nice-block {
  position: relative;
  z-index: 5;
  background-color: darkorange;
  transition: translate 150ms;
  user-select: none;
  pointer-events: none;
  touch-action: none;
}
