.field {
  --field-width: 0;
  --field-height: 0;
  --cell-size: 16px;

  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--field-width), var(--cell-size));
  grid-template-rows: repeat(var(--field-height), var(--cell-size));
  width: fit-content;
  margin: auto;

  background-color: rgb(50 50 100);
  background-image: url("/FLATSTONES.png");
  image-rendering: crisp-edges;
  background-size: 40%;

  /* background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent calc(var(--cell-size) - 1px),
      magenta var(--cell-size)
    ),
    repeating-linear-gradient(
      -90deg,
      transparent,
      transparent calc(var(--cell-size) - 1px),
      magenta var(--cell-size)
    ); */
}
