.field {
  --field-width: 0;
  --field-height: 0;
  --cell-size: min(calc((100vw / (var(--field-width) + 2))), 64px);
  --wall-size: calc(var(--cell-size) / 2);

  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--field-width), var(--cell-size));
  grid-template-rows: repeat(var(--field-height), var(--cell-size));
  width: fit-content;
  margin: 0;
  padding: var(--wall-size);

  background-image: url("/FLATSTONES.png");
  background-clip: padding-box;
  background-size: 64px;
  box-shadow: inset 0px 0px 5px 10px var(--bg-color);
}

.grey-block {
  background-color: #cccccc;
  border-color: #b8b8b8;
  border-width: 5px;
}

.debug-grid {
  background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent calc(var(--cell-size) - 1px),
      magenta var(--cell-size)
    ),
    repeating-linear-gradient(
      -90deg,
      transparent,
      transparent calc(var(--cell-size) - 1px),
      magenta var(--cell-size)
    );
}
